/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark .page {
  --font-main: 'Inter-Variable';
  --font-accent: 'PressStart2P';
  --subtitle-weight: 785;
  --text-weight: 465;
  --main-color: black;
  --accent-color: #00CC14;
  --accent-color-dark: #007A0C;
  --heart-color: #FF0000;
  --button-hover-color: #00CC14;
  --bg-pattern:   repeating-linear-gradient(to right, #000, #000 2px, transparent 2px, transparent 4px),
repeating-linear-gradient(to bottom, #000, #000 2px, transparent 2px, transparent 4px),
linear-gradient(to bottom, #007f0c, #004306);
}

:root.theme-light .page {
  --font-main: 'Inter-Variable';
  --font-accent: 'PressStart2P';
  --subtitle-weight: 700;
  --text-weight: 400;
  --main-color: white;
  --accent-color: black;
  --accent-color-dark: #666666;
  --heart-color: #FF0000;
  --button-hover-color: white;
  --bg-pattern:   repeating-linear-gradient(to right, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
repeating-linear-gradient(to bottom, #d3d3d3, #d3d3d3 2px, transparent 2px, transparent 4px),
linear-gradient(to bottom, #e7e7e7 0 0.01%, #1a1a1a);
}

@media (prefers-color-scheme: dark) {
  .page {
    --font-main: 'Inter-Variable';
    --font-accent: 'PressStart2P';
    --subtitle-weight: 785;
    --text-weight: 465;
    --main-color: black;
    --accent-color: #00CC14;
    --accent-color-dark: #007A0C;
    --heart-color: #FF0000;
    --button-hover-color: #00CC14;
    --bg-pattern:   repeating-linear-gradient(to right, #000, #000 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(to bottom, #000, #000 2px, transparent 2px, transparent 4px),
    linear-gradient(to bottom, #007f0c, #004306);
  }
}